@model Login

<h3>Login</h3>
<hr>
<form asp-action="Login" asp-controller="Home" method="POST">
     <h4>Email:</h4>
     <span asp-validation-for="EmailLogin"></span>    
     <input class="Form-Control" asp-for="EmailLogin"><br>
    
     <h4>Password:</h4>
     <span asp-validation-for="PasswordLogin"></span>    
     <input class="Form-Control" asp-for="PasswordLogin"><br>
     <br>
     <button type="submit">Submit</button>
</form>