@{
    ViewData["Title"] = "Dashboard";
}
@model User
<h3>Hi usersession.Alias !</h3> @* How to get the name to come through. Bring in the model, then reference with atsymbole Class or Model (?) .Alias. *@

<form class="head" asp-action="Create" asp-controller="Home" method="POST">
    <textarea name="Post"  cols="50" rows="5"></textarea>
    <button type="submit">Submit</button>
</form>

<div class="scrollwindow">
    <partial name="PartialIdeaScroll"/>
</div>